
<form class="form" action="/survey/index/result" method="post">
    
    Overall I am satisfied with the product. <br>
    <input type="radio" name="satisfaction" value="1" >Strongly agree
    <input type="radio" name="satisfaction" value="2">Agree
    <input type="radio" name="satisfaction" value="3" checked>Neither agree nor disagree
    <input type="radio" name="satisfaction" value="4" >Disagree
    <input type="radio" name="satisfaction" value="5">Strongly disagree <br><br><br>
    
    I am satisfied with the delivery. <br>
     <input type="radio" name="delivery" value="1" >Strongly agree
    <input type="radio" name="delivery" value="2">Agree
    <input type="radio" name="delivery" value="3" checked>Neither agree nor disagree
    <input type="radio" name="delivery" value="4" >Disagree
    <input type="radio" name="delivery" value="5" >Strongly disagree <br><br><br>
    
    I would recommend the product to others.<br>
    <input type="radio" name="recommendation" value="1">Strongly agree
    <input type="radio" name="recommendation" value="2">Agree
    <input type="radio" name="recommendation" value="3" checked>Neither agree nor disagree
    <input type="radio" name="recommendation" value="4" >Disagree
    <input type="radio" name="recommendation" value="5" >Strongly disagree <br><br><br>
    
    What product did you like the most among our products.<br>
    Here comes products from database. <br><br><br>
    
    How did you get to know our webpage? <br>
    <select name="how">
    <option value="friend">From a friend</option>
    <option value="product">From our product</option>
    <option value="advertisement">From our advertisement</option>
    <option value="other">Other</option>
    </select>
    <br>
  
    
    <br><br>
    Leave a free comment below:<br>
     <input type="text" name="comment">
    <br>
    
    
    
    
    
    <br><br>
    <input type="submit">
    
</form>
