<?php /** @var Survey\SurveyPage\Block\Answers $block */ ?>
<h1>Survey Answers</h1>
<?php foreach($block->getAnswers() as $answer): ?>
    <?php /** @var Survey\SurveyPage\Model\Answer */ ?>
    <h2><a href="<?php echo $block->getAnswerUrl($answer);?>">
                 <?php echo $answer->getId(); ?>
    </a></h2>
    <p><?php echo $answer->getContent(); ?></p>
    <p><?php echo $answer->getProductRating(); ?></p>
    <p><?php echo $answer->getWebsiteRating(); ?></p>
    <p><?php echo $answer->getDeliveryRating(); ?></p>
    <p><?php echo $answer->getRecommendationRating(); ?></p>
    <p><?php echo $answer->getFindingSelection(); ?></p>
    <p><?php echo $answer->getComment(); ?></p>
<?php endforeach; ?>

    
