<?php /** @var Survey\SurveyPage\Block\View $block */ ?>
<h1><?php echo $block->getAnswer()->getId(); ?></h1>
<p><?php echo $block->getAnswer()->getProductRating(); ?></p>
<p><?php echo $block->getAnswer()->getWebsiteRating(); ?></p>
<p><?php echo $block->getAnswer()->getDeliveryRating(); ?></p>
<p><?php echo $block->getAnswer()->getRecommendationRating(); ?></p>
<p><?php echo $block->getAnswer()->getFindingSelection(); ?></p>
<p><?php echo $block->getAnswer()->getComment(); ?></p>